html,
body,
div,
span,
h1,
p,
pre,
a,
code {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  /* vertical-align: middle; */
}

body {
  line-height: 1;
  font-family: 'Lato', 'Roboto', sans-serif;
}
